* {
	box-sizing: border-box;
	font-family: rubik;
}

body {
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	color: white;
	margin: 0;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
	color: #222;
}

hr {
	width: 600px;
	margin-bottom: 50px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
	box-shadow: 20px 20px 15px -22px rgba(0, 0, 0, 0.51);

}

.card::after {
	content: "";
	display: block;
	width: 50%;
	height: 30%;
	border-radius: 26% 74% 67% 33% / 44% 25% 75% 56%;
	background-color: #fff;
	opacity: .7;
	position: absolute;
	top: 15%;
	left: 25%;
}

.steel {
	background-color: #bebecf;
}

.dark {
	background-color: #b1a7a7;
}

.fire {
	background-color: #f7bf97;
}

.grass {
	background-color: #caeebb;
}

.electric {
	background-color: #ffe88d;
}

.ice {
	background-color: #c8dddd;
}

.water {
	background-color: #96afe9;
}

.ground {
	background-color: #e0cd98;
}

.rock {
	background-color: #c9bf97;
}

.fairy {
	background-color: #fcd1df;
}

.poison {
	background-color: #daacda;
}

.bug {
	background-color: #e6ebb3;
}

.dragon {
	background-color: #b99aff;
}

.psychic {
	background-color: #ff9bb9;
}

.flying {
	background-color: #c2b3f0;
}

.fighting {
	background-color: #f7a39f;
}

.normal {
	background-color: #d8d8cb;
}

.ghost {
	background-color: #bb9ee7;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #444;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
		transform: translateY(-6px);
	}

	40% {
		transform: translateY(0px);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}