:root {
	--normal: #d8d8cb;
	--fire: #f7bf97;
	--water: #96afe9;
	--electric: #ffe88d;
	--grass: #caeebb;
	--ice: #c8dddd;
	--fighting: #f7a39f;
	--poison: #daacda;
	--ground: #e0cd98;
	--flying: #c2b3f0;
	--psychic: #ff9bb9;
	--bug: #e6ebb3;
	--rock: #c9bf97;
	--ghost: #bb9ee7;
	--dragon: #b99aff;
	--dark: #b1a7a7;
	--steel: #bebecf;
	--fairy: #fcd1df;
}

* {
	box-sizing: border-box;
	font-family: rubik;
}

body {
	background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
	color: white;
	margin: 0;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
	color: #222;
}

hr {
	width: 600px;
	margin-bottom: 50px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
	box-shadow: 20px 20px 15px -22px rgba(0, 0, 0, 0.51);
	cursor: pointer;
	transition: transform 0.3s;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card::after {
	content: "";
	display: block;
	width: 50%;
	height: 30%;
	border-radius: 26% 74% 67% 33% / 44% 25% 75% 56%;
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	top: 15%;
	left: 25%;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0;
	font-size: 25px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #444;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
		transform: translateY(-6px);
	}

	40% {
		transform: translateY(0px);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}